@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@font-face {
  font-family: VHS;
  src: url("./fonts/VCR_OSD_MONO.ttf");
}

@font-face {
  font-family: Road-Rage;
  src: url("./fonts/Road_Rage.otf");
}

.caret-vhs::selection {
  background: #ff00ff;
  caret-shape: bar;
  color: #fff;
}

.text-shadow {
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}
